.boilerplate {
    background-color: #252525;
    color: #ffffff;
    font-size: 0.9rem;
}

.boilerplate a {
    text-decoration: none;
    color: inherit;
}

.recap {
    margin: 0;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.recap h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 24px 0 0 0;
    padding: 0;
    line-height: 1.1rem;
}

.recap p {
    margin: 8px 0 0 0;
    padding: 0;
    line-height: 1rem;
    color: #bababa;
}

.recap svg {
    color: #aa0000;
    height: 24px;
    width: 24px;
    margin: 8px;
}
.recap img {
    margin: 8px;
}

.recap ul {
    color: #bababa;
    display: block;
    list-style: none;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
}

.recap ul ul{
    padding-left: 16px;
}

.copyright {
    border-top: 1px solid #878787;
    text-align: center;
    margin: 0;
    padding: 8px 8px 0 8px;
}

.copyright > p {
    margin: 0;
    padding: 0 0 8px 0;
    line-height: 1rem;
}