.container {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    border-left: 4px solid #cc0000;
    color: #000000;
    background-color: #ebebeb;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content > * {
    display: block;
    margin: 0;
    padding: 8px;
    padding-bottom: 0;
    font-style: italic;
    font-size: 18px;
    line-height: 18px;
    color: #696969;
}

.author {
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-align: right;
    margin: 8px 0 0 0;
    padding: 1px 8px 1px 0;
    background: linear-gradient(270deg, white, transparent);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.author > svg {
    margin-right: 4px;
}

.author > a {
    color: inherit;
    margin: 0;
    padding: 0;
}