.container {
    margin: 0;
    padding: 0 8px;
}

.container:hover {
    opacity: 0.7;
}

.container > a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.container.selected > a {
    color: #cc0000;
}
