.container {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.containerList {
    margin: 0;
    padding: 0 0 0 32px;
    display: none;
    background-color: #ebebeb;
}

.containerList.visible {
    display: block;
}

.containerTitle {
    padding: 0 16px;
    display: block;
    background-color: rgba(0, 0, 0, 0.03);
    user-select: none;
}

.containerTitle:hover {
    opacity: 0.7;
}


.containerTitle > div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.containerTitle > svg {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 8px;
}

@media screen and (min-width: 981px) {
    .containerTitle {
        background-color: inherit;
    }

    .containerList {
        position: absolute;
        padding: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,.1);
        border-top: 2px solid #cc0000;
    }

}